# Langsmith Tracing env vars
LANGSMITH_API_KEY=your_langsmith_api_key
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=SPARQ

# API keys for various services 
# LLM providers: Gemini, OpenAI
# Data provider: Hugging Face
GEMINI_API_KEY=your_gemini_api_key
OPENAI_API_KEY=your_openai_api_key
HF_TOKEN=your_huggingface_token

# If you're using AWS bedrock, set the following environment variables
AWS_PROFILE=your_aws_profile_name # The AWS profile name you set up with SSO
AWS_REGION=us-east-1
